@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700,900|Roboto:400,500,500i,700,700i&display=swap");
/* common code start */
body {
  margin: 0px;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

:root {
  --primarycolor: #efb607;
  --secondarycolor: #efc84a;
}
/* common code end */

/* navigation bar start*/
#header {
  padding: 0px 10px;
  background-color: #f5f5f5;
}
.logo {
  width: 4rem;
}
.logo > img {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0px 10%;
}

.nav-items {
  /* width: 30%; */
  display: flex;
  align-items: center;
}
.nav-items > li {
  margin-left: 20px;
}

.nav-items a {
  text-transform: capitalize;
  padding: 10px;
  border-radius: 10px;
}

.nav-items a:hover {
  background-color: var(--secondarycolor);
  color: white;
  text-decoration: none;
}
/* navigation bar end */

.intro-back {
  width: 100%;
  height: calc(100vh - 64px);
  background-image: url(../img/backimg.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.overlay > h1 {
  color: white;
  text-align: center;
  font-size: 5rem;
  margin-top: 20%;
}
.overlay > a {
  color: white;
  display: block;
  text-align: center;
  margin: 5px auto;
  padding: 10px;
  background-color: var(--primarycolor);
  width: 10%;
}

/* about start */
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about .img1 {
  width: 40%;
}

.about .img2 {
  width: 40%;
}

.about img {
  width: 100%;
}

.about .para1 {
  width: 40%;
}
.about .para2 {
  width: 40%;
}

.para-inner {
  margin-top: 0px;
  margin-left: 10%;
}
.about p {
  width: 70%;
}

.para1 .para-inner {
  margin-top: 0px;
  margin-left: 20%;
}

.about ul {
  padding: 0px;
}

.about li {
  margin: 10px 0;
}
.about li::before {
  content: "\2713";
  margin-right: 10px;
  color: var(--primarycolor);
}

.about {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
/* about end */

/* service start */
.service-card img {
  width: 20%;
}
/* .service-card {
  width: 30%;
} */
/* .services {
  margin: 8rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
}
/* .service-card h1 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
} */
/* .service-card p {
  line-height: 30px;
  color: #9e9e9e;
} */

/* #services {
  padding: 0.1rem 0;
  background-color: #eeeeee;
} */
/* service end */

/* banner start */
#banner {
  background-color: #424242;
  overflow: hidden;
}
.video > img {
  width: 100%;
}
.video {
  margin: 5rem 8rem;
}
.video > a {
  display: block;
  width: 10vh;
  height: 10vh;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 18rem;
}

.video span {
  display: inline-block;
  margin-top: 24px;
}

.video_overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video_display {
  visibility: hidden;
}
.video_overlay > iframe {
  margin-top: 20vh;
}
.close {
  color: white;
  position: fixed;
  top: 0;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
/* banner end*/
