@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto',
        sans-serif;
}

::selection {
    background-color: black;
    color: white;
}

/* header */
.top-bar {
    background-image: linear-gradient(to right, #7a5e86 0%, #a75e67 51%, #f77b2e 100%);
}




/* Navbar */
.main a {
    color: black !important;
}

.main a:hover {
    color: #FF8B00 !important;
}

.main .navbar-brand,
.active>a {
    color: #FF8B00 !important;
}

.navbar-brand:hover {
    color: #FF8B00;
}

.main .dropdown-menu {
    border-top: 2px solid #FF8B00;
}

.main .navbar-nav a {
    font-size: 1.1rem;
    padding: 0 1.5rem !important;
}


/* slider */
#slider .carousel-caption {
    top: 40%;
}


/* services */
.services-2 p {
    line-height: 28px;
}


/* about */
.banner {
    background-image: url(../img/hero_1.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;

}

.overlay-video {
    width: 10vh;
    height: 10vh;
    margin-top: 35vh;
}


/* footer */
#footer {
    background-image: linear-gradient(to right, #7a5e86 0%, #a75e67 51%, #f77b2e 100%);
}

#footer ul {
    list-style: none;
}

.subscribe {

    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

input[type="text"] {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}